Body{
	background-color: #FFC6A2;
}

#texto{
	color: #FF7016;
	font-family:Cursive;
	text-align:center;
	font-size:20px;
}

h1{
	color:#D95400;
	font-family:Cursive;
}

#fotinha{
	text-align:center;
}